body{
	font-family: 'Exo', sans-serif;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("../imgs/fondtest.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.header2{
	margin-top: 30px;
	display: inline-flex;
	height: 50px;
}

body {
	width: 100%;
	background-color: #F1F1F1;
}

@font-face {
    font-family: 'android_insomnia_regular';
    src: url('android_insomnia_regular-webfont.woff2') format('woff2'),
         url('android_insomnia_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title {
	font-family: android_insomnia_regular;
	font-size:3em;
	color: #EDF4FA;
	background-image: url("../imgs/panel-png-2.png");
       background-size: 6em;
        background-repeat: no-repeat;
	background-position: center;
}

.card {
	margin: auto;
	margin-top: 75px;
	width: 400px;
	padding: 15px;
	color: #212529;
	background-color: white;
	box-shadow: 0px 0px 7px #E8E8E8;
}
	
hr {
	margin: 8px;
}

.error-msg {
	color: red;
	text-align: center;
}

.success-msg {
	color: green;
}

.champ{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:40%;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn3{
  background:#354A67;
  width:125px;
  padding-top:7px;
  padding-bottom:7px;
  color:white;
  border-radius:4px;
  border: 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:20%;
  font-weight:800;
  font-size:0.8em;
}

.btn3:hover {
  background:#546B8B;
}

#btn2{
  float:left;
  background:#BBD4E6;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{
background:#3594D2;
}

.sidebside{
display:inline-block;
}


.titles{
	background-image: url("../imgs/panel-png-2.png");
        background-size: 30%;
        background-repeat: no-repeat;
	margin: auto;
}

.btn4{
  background:#354A67;
  width:125px;
  padding-top:7px;
  padding-bottom:7px;
  color:white;
  border-radius:4px;
  border: 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  font-weight:800;
  font-size:0.8em;
}

.btn4:hover {
  background:#546B8B;
}

/* LIKE BOX */
	[id ^="heart"] {
		position: absolute;
		left: -100vw;
	}

	[for ^="heart"] {
		color: #aab8c2;
		cursor: pointer;
		font-size: 1em;
		align-self: center;
		transition: color 0.2s ease-in-out;
	}

	[for ^="heart"]:hover {
		color: grey;
	}

	[for ^="heart"]::selection {
		color: red;
		background: transparent;
	}

	[for ^="heart"]::moz-selection {
		color: none;
		background: transparent;
	}

	[id ^="heart"]:checked + label {
		color: #e2264d;
		will-change: font-size;
		animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
	}

	@keyframes heart {0%, 17.5% {font-size: 0;}}

	.heartlike{
		background: transparent;
		border: none;
	}

	/* COMMENT BOX */
	.detailBox {
		border:1px solid #bbb;
		margin:50px;
	}
	.titleBox {
		background-color:#fdfdfd;
		padding:10px;
	}
	.titleBox label{
		color:#444;
		margin:0;
		display:inline-block;
	}

	.commentBox {
		padding:10px;
		border-top:1px dotted #bbb;
	}
	.commentBox .form-group:first-child, .actionBox .form-group:first-child {
		width:80%;
	}
	.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
		width:18%;
	}
	.actionBox .form-group * {
		width:100%;
	}
	.taskDescription {
		margin-top:10px 0;
	}
	.commentList {
		padding:0;
		list-style:none;
		max-height:200px;
		overflow:auto;
	}
	.commentList li {
		margin:0;
		margin-top:10px;
	}
	.commentList li > div {
		display:table-cell;
	}
	.commenterImage {
		width:30px;
		margin-right:5px;
		height:100%;
		float:left;
	}
	.commenterImage img {
		width:100%;
		border-radius:50%;
	}
	.commentText p {
		margin:0;
	}
	.sub-text {
		color:#aaa;
		font-family:verdana;
		font-size:11px;
	}
	.actionBox {
		border-top:1px dotted #bbb;
		padding:10px;
		background-color : black;
		opacity: 85%;
	}

	.gallerieindex{
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: 10%;
	}

	.indexgallery{
		float: left;
		width: 32px;
		margin: 8px;
		padding: 8px;
		border-radius: 4px;
		border: solid 2px rgba(255, 255, 255, .4);
		text-decoration: none;
		text-align: center;
		color: #fff;
		background-color: rgba(255, 255, 255, .2);
		transition: all .1s;
	}

	.chatbox {
    width: 100%;
    height: 80%;
}

.contact_list {
    width: 30%;
    height: 100%;
    overflow-y: scroll;
}

.chat_message_list {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    top: 0;
    right: -1%;
     overflow-y: scroll;
}

.chat_message_box {
    width: 70%;
    height: 12%;
    border-radius: 10px;
    top: 71%;
    right: -1%;
}

.contact {
    border-radius: 0;
    border: none;
    width: 95%;
    height: 10%;
    margin-bottom: 2px;
    border-radius: 10px;
    text-align: center;
    padding: 10% 0;
}

.me {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color:#BBD4E6;
    float: right;
    width: 51%;
}

.other {
    border: 1px solid black;
    width: 51%;
    background-color:#546B8B;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    margin-bottom: 5px;
    float: left;
}
